body {
    background: url("../img/hatter.jpg");
    background-size: cover;
    font-family: 'Noto Sans', sans-serif;
}
h1{
    font-family: 'Fredericka the Great', cursive;
    color: black;
    text-align: center;
}
.tartalom {
    background-color: rgba(255, 255, 255, 0.85);
    min-height: 100vh;
    padding-top: 1em;
    padding-bottom: 1em;
}

nav{
    background-color:  blue;
    padding: 15px;
    position: fixed;
    z-index: 5;
}

nav a{
    color: white;
    margin: 15px;
}

nav a:hover{
    color: white;
    text-decoration: none;
}
.logo img{
    width: 40px;
}
table th{
    color: white;
}
table td{
    color: black;
}

tr:nth-child(even) {

    background-color: rgba(255, 255, 255, 0.85);
color: blue;
}

.banner{
    /*background-image: url(../img/hatter.jpg);*/
    height: 150px;
    /*background-position: center center;  */  
    /*background-size: cover;*/
}
#rolunk{
    background-color: lightblue;
    padding-top: 2rem;
    padding-bottom: 1rem;
    max-width: 800px;
}
#textalign-right{
    text-align: right;
}
.footer{
    background-color: blue;
    color: white
}
.footer td{    
    color: white
}

footer li{
    list-style-type: none;

}

footer li>img{
    width: 15px;
    margin-right: 10px;
}
.center
{
   
    display: flex;
    justify-content: center;
}
.row{
    margin-bottom: 12px;
}
.szerzo{
    text-align: right;
}
.festekval
{
   
    display: flex;
    justify-content: flex-end;
}